WebContent/wsdl/AuthenticateServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.dj.com" name="AuthenticateServicePortType" targetNamespace="http://www.dj.com">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dj.com">
      <xsd:element name="AuthenticateRequest">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="username" type="xsd:string"/>
          	<xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AuthenticateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="AuthenticateRequest">
    <part element="tns:AuthenticateRequest" name="parameters"/>
  </message>
  <message name="AuthenticateResponse">
    <part element="tns:AuthenticateResponse" name="parameters"/>
  </message>
  <portType name="AuthenticateService">
    <operation name="authenticate">
      <input message="tns:AuthenticateRequest"/>
      <output message="tns:AuthenticateResponse"/>
    </operation>
  </portType>
</definitions>
